# Bỏ qua các tệp cache
.phpunit.cache
.phpunit.result.cache

# Bỏ qua thư mục cài đặt Node.js
/node_modules

# Bỏ qua thư mục chứa các tệp được tạo ra từ quá trình xây dựng
/public/build

# Bỏ qua thư mục chứa các tệp hot-reload
/public/hot

# Bỏ qua thư mục chứa dữ liệu tĩnh của ứng dụng
/public/storage

# Bỏ qua tất cả các file key trong thư mục storage (ví dụ: storage/*.key)
/storage/*.key

# Bỏ qua các file nhật ký của npm và yarn
npm-debug.log
yarn-error.log

# Bỏ qua các thư mục cấu hình của các trình biên dịch mã
/.fleet
/.idea
/.vscode
